<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    The locally-packed ProjectFiles nupkg (in ../../nugets) is not signed, so override the
    signatureValidationMode=require inherited from src/nuget.config back to the default 'accept'.
  -->
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
  <packageSources>
    <clear />
    <add key="local" value="../../nugets" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
